<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border=1 align="center" width="300">
	<tr><td>
			<input type="text" name="userId"  placeholder="아이디" />
		</td>
		<td rowspan="2">
			<input type="submit" value="로그인" />
		</td>
	</tr>
	<tr><td>
			<input type="password" name="userPw" placeholder="비밀번호"/>
		</td>
	</tr>
	<!--  
	<tr><td colspan="2">
			<a href="userAgree">회원가입</a>
		</td>
	</tr>
	-->
</table>
	<a href="/owner/ownerForm">점주등록</a><br />
	<a href="/owner/shopForm">식당등록</a><br />
	<a href="/customer/customerForm">주문자등록</a>
	<a href="/party/party">파티원게시판</a>
</body>
</html>