<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="menuRegist" method="post">
<table border=1 align="center" width="400">
<caption>메뉴 등록 페이지</caption>
<tr><td>식당 이름</td>
	<td><input type="text" name="shopName" ></td>   <!-- th:Value로 값 가져오기 -->
</tr>
<tr><td>메뉴 이름</td>
	<td><input type="text" name="menuName" style="width:310px"></td>
</tr>
<tr><td>메뉴 가격</td>
	<td><input type="number" name="menuPrice" style="width:310px"></td>
</tr>
<tr><td>메뉴 설명</td>
	<td><input type="text" name="menuExplain" style="width:310px"></td>
<tr><td>메뉴 사진</td>
	<td><input type="file" name="menuContent" ></td>
<tr><td colspan="2" align="center"><input type="submit" value="메뉴등록"></td></tr>
</table>
</form>
</body>
</html>