<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    table {
        width: 50%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
    }
    th {
        text-align: left;
    }
    td:first-child {
        width: 15%; 
    }
    td:nth-child(2) {
        width: 35%;
    }
</style>
</head>
<body>
<table border=1 width="600" align="center">
	<caption>메뉴 리스트</caption>
	<tr><td rowspan="3">메뉴사진</td>
    	<td>메뉴이름</td>
    </tr>
  	<tr>
    	<td>메뉴설명</td>
  	</tr>
  	<tr>
    	<td>메뉴가격</td>
  	</tr>

</table>
</body>
</html>