<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="/static/css/font.css">
</head>
<body>
<div align="center">
<br/>
주문모집글 작성
</div>
	<form action="registRecruit" method="post">
	<table border="1" align="center" width="400">
		
		
		
		<tr>
			<td>모집 식당:</td>
			<td><input type="text" name="shopName" th:value="${mdto.getShopName()}" readonly="readonly"/></td>
		</tr>
		<tr>
			<td>모집글 작성자:</td>
			<td><input type="text" name="boardWriter" th:value="${auth.getUserId()}" readonly="readonly"></td>
		</tr>
		<tr>
			<td>추가주문해야할 금액</td>
			<td th:if="${restPrice}>0"><input type="text" name="restPrice" th:value="${restPrice}"></td>
			<td th:if="0>=${restPrice}"><input type="text" name="restPrice" value="최소주문금액달성"></td>
		</tr>
		
		<tr>
			<td>모집글 제목:</td>
			<td><input type="text" name="boardSubject"/></td>
		</tr>
		
		<tr>
			<td>모집글 내용:</td>
			<td><textarea rows="5" cols="22" name="boardContent"></textarea></td>
		</tr>

		<tr>
			<td>모집 인원선택:</td>
			<td><input type="number" name="recruitNum" /></td>
		</tr>
		
	</table>
	
	<div align="center">
	<br />
	주문명세표
	</div>
	<table border=1 align="center" width="300">
	
	<tr>
		<td>주문한 메뉴:</td>
		<td id="menuName">[[${mdto.getMenuName()}]]</td>
	</tr>
	
	<tr>
		<td>메뉴 가격:</td>
		<td id="menuPrice">[[${mdto.getMenuPrice()}]]</td>
	</tr>
	
	<tr>
		<td>주문 수량:</td>
		<td id="qty">[[${qty}]]</td>
	</tr>
	
	<tr>
		<td>주문 총가격:</td>
		<td id="totalPrice">[[${totalPrice}]]</td>
	</tr>
	
	<tr>
		<td>주문 가능여부:</td>
		<td th:if="${restPrice}>0">[[${restPrice}]]원 더 주문하면 배달 가능!</td>
		
		<td th:if="0>=${restPrice}">배달가능</td>
	</tr>
	</table>
	
	<input type="hidden" id="menuNameInput" name="menuName">
	<input type="hidden" id="menuPriceInput" name="menuPrice">
	<input type="hidden" id="qtyInput" name="qty">
	<input type="hidden" id="totalPriceInput" name="totalPrice">
	
	<div align="center">
	<br />
	<input type="submit" value="모집글등록"/>
	</div>
	</form>
	
	<script type="text/javascript">
var menuName = document.getElementById("menuName").innerText;
document.getElementById("menuNameInput").value = menuName;

var menuPrice = document.getElementById("menuPrice").innerText;
document.getElementById("menuPriceInput").value = menuPrice;

var qty = document.getElementById("qty").innerText;
document.getElementById("qtyInput").value = qty;

var totalPrice = document.getElementById("totalPrice").innerText;
document.getElementById("totalPriceInput").value = totalPrice;

</script>
	
</body>
</html>