<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table border="1" align="center" width="400">
		<caption>모집글 게시판 상세보기</caption>
	
		<tr>
			<td>모집 식당:</td>
			<td>[[${dto.getShopName()}]]</td>
		</tr>
		<tr>
			<td>모집글 작성자:</td>
			<td>[[${dto.getBoardWriter()}]]</td>
		</tr>
		<tr>
			<td>추가주문해야할 금액</td>
			<td th:if="${dto.getRestPrice()}>0">[[${dto.getRestPrice()}]]원</td>
			<td th:if="0>=${dto.getRestPrice()}">최소주문금액달성</td>
		</tr>
		
		<tr>
			<td>모집글 제목:</td>
			<td>[[${dto.getBoardSubject}]]</td>
		</tr>
		
		<tr>
			<td>모집글 내용:</td>
			<td><span>[[${dto.getBoardContent}]]</span></td>
		</tr>

		<tr>
			<td>모집 인원:</td>
			<td>[[${dto.getRecruitNum}]]</td>
		</tr>
		
	</table>
	
	<div align="center">
	<br />
	참여하기
	</div>
</body>
</html>