<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table align="center" width="600">
	<caption>FoodMate</caption>
	<tr>
        <td rowspan="2">이미지1</td>
        <td>식당이름1</td>
        <td>동네이름1</td>
    </tr>
    <tr>
        <td>모집상태,파티원수</td>      <!-- 모집중 or 모집완료, 파티원수는 1/4이런 식 -->
        <td>최소주문금액까지 남은 금액</td>
    </tr>
    
    <tr>
        <td rowspan="2">이미지2</td>
        <td>식당이름2</td>
        <td>동네이름2</td>
    </tr>
    <tr>
        <td>모집상태,파티원수</td>      <!-- 모집중 or 모집완료, 파티원수는 1/4이런 식 -->
        <td>최소주문금액까지 남은 금액</td>
    </tr>
</table>
</body>
</html>