<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="ownerRegist" method="post">
<table border=1 align="center" width="400">
	<caption>점주 등록 페이지</caption>
	<tr><td>이름</td>
		<td><input type="text" name="ownerName"></td></tr>
	<tr><td>아이디</td>
		<td><input type="text" name="ownerId"></td></tr>
	<tr><td>비밀번호</td>
		<td><input type="password" name="ownerPw"></td></tr>
	<tr><td>비밀번호 확인</td>
		<td><input type="password" name="ownerPwCon"></td></tr>
	<tr><td>전화번호</td>
		<td><input type="tel" name="ownerPhone"></td></tr>
	<tr><td>사업자번호</td>
		<td><input type="text" name="ownerNum"></td></tr>
	<tr><td>이메일</td>
		<td><input type="email" name="ownerEmail"></td></tr>
	<tr><td>생년월일</td>
		<td><input type="date" name="ownerBirth"></td></tr>
</table>
</form>
</body>
</html>