<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
점주 등록<br />
이름 : <input type="text" name="ownerName"><br/>
아이디 : <input type="text" name="ownerId"><br/>
비밀번호 : <input type="password" name="ownerPw"><br/>
비밀번호 확인 : <input type="password" name="ownerPwCon"><br />
전화번호 : <input type="tel" name="ownerPhone"><br/>
사업자번호 : <input type="text" name="ownerNum"><br/>
이메일 : <input type="email" name="ownerEmail"><br/>
생년월일 : <input type="date" name="ownerBirth"><br/>
</body>
</html>