<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script> 
<script type="text/javascript">
/*
function fileDel(orgFile, storeFile, btn, kind){
	$.ajax({
		type:'post',
		url:'fileDel',
		dataType:'text',
		data:{"orgFile": orgFile, "storeFile": storeFile, "kind":kind},
		success:function(result){
			if(result.trim() == "1"){
				$(btn).text("삭제 취소");
				if(kind == 'main'){
					$("#main").css("display", "none");
					$("#mainFile").css("display", "");
				}
			}else{
				$(btn).text("삭제");
				if(kind == 'main'){
					$("#main").css("display", "");
					$("#mainFile").css("display", "none");
				}
			}
		},
		error:function(){
			alert("서버오류");
		}
	});
}
*/
</script>
<style>
	.no-border td {
		border-bottom:none;
		border-left:none;
		border-right:none;
	}
	.no-border1 td {
		border:none;
	}
		
	.menuList table {
        width: 50%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
    }
    th {
        text-align: left;
    }
    td:first-child {
        width: 15%; 
    }
    td:nth-child(2) {
        width: 35%;
    }
    .menu-border {
    	border:none;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/font.css">
</head>
<body>
<form action="shopModify" method="post" >
<table th:each="dto: ${dto}" border=1 align="center" width="400">
	<caption>정보 수정</caption>
	<tr class="no-border1">
		<td><img th:src="|/static/upload/${dto.shopLogo}|" width="200" height="200" />
		</td>
	</tr>
	<!--  
		<input type="file" name="shopLogo" id="mainFile" style="display:none"/>
		<span id="main">[[${dto.shopLogoImg}]]</span>
		
		<button type="button" th:attr="onclick=|fileDel('${dto.shopLogoImg}', '${dto.shopLogo}', this, 'main')|">삭제</button> 
		<br /><span style="color:red">[[${error}]]</span> 
	</tr>
	-->
	 
	<tr class="no-border">
		<td>가게 이름</td>
		<td><input type="text" name="shopName" th:value="${dto.shopName}" style="width:100%"/></td>
	</tr>
	<tr class="no-border1">
		<td>가게 설명</td>
		<td><input type="text" name="shopExplain" th:value="${dto.shopExplain}" style="width:100%"/></td>
	</tr>
	<tr class="no-border">
		<td>최소주문금액</td>
		<td><input type="text" name="shopMin" th:value="${dto.shopMin}" style="width:100%"/></td>
	</tr>
	<tr class="no-border1">
		<td>배달팁</td>
		<td><input type="text" name="shopDelivery" th:value="${dto.shopDelivery}" /></td></tr>
</table>

<table th:each="list: ${list}" class="menuList" border=1 width="400" align="center"> <!-- th:each주기 -->
	<tr><td rowspan="3">
		<a th:href="|../menu/menuUpdate?menuName=${list.menuName}&shopName=${list.shopName}|">
		<img th:src="|/static/upload/${list.menuContent}|" width="200" height="200"></a></td>
    	<td class="menu-border">
    	<a th:href="|../menu/menuUpdate?menuName=${list.menuName}&shopName=${list.shopName}|">[[${list.menuName}]]</a></td>
    </tr>
  	<tr>
    	<td class="menu-border">
    	<a th:href="|../menu/menuUpdate?menuName=${list.menuName}&shopName=${list.shopName}|">[[${list.menuExplain}]]</a></td>
  	</tr>
  	<tr>
    	<td class="menu-border">
    	<a th:href="|../menu/menuUpdate?menuName=${list.menuName}&shopName=${list.shopName}|">가격: [[${list.menuPrice}]]</a></td>
  	</tr>
  	
</table>

<div style="text-align: center;"><br />
	<input type="submit" value="수정완료" >
</div>
</body>
</html>