<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
가게등록화면입니다.
<table border=1 align=center width=400>
<tr>
<td>식당이름: </td><td><input type="text" id=""/></td>
</tr>
<tr>
<td>음식종류: </td><td><input type="text" id=""/></td>
</tr>
<tr>
<td>주소: </td><td><input type="text" id=""/></td>
</tr>
<tr>
<td>상세주소: </td><td><input type="text" id=""/></td>
</tr>
<tr>
<td>가게전화번호: </td><td><input type="text" id=""/></td>
</tr>
<tr>
<td>가게한줄소개: </td><td><input type="text"/></td>
</tr>
<tr>
<td>가게로고: </td><td><input type="text"/></td>
</tr>
<tr>
<td>가게 최소주문금액: </td><td><input type="text"/></td>
</tr>
<tr>
<td>배달팁: </td><td><input type="text"/></td>
</tr>
<tr>
<td>개업일: </td><td><input type="date"/></td>
</tr>

</table>

</body>
</html>