<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.no-border td {
		border-bottom:none;
		border-left:none;
		border-right:none;
	}
	.no-border1 td {
		border:none;
	}
	
	.menuList table {
        width: 50%;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
    }
    th {
        text-align: left;
    }
    td:first-child {
        width: 15%; 
    }
    td:nth-child(2) {
        width: 35%;
    }
    .menu-border {
    	border:none;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/font.css">
</head>
<body>
<table th:each="dto: ${dto}" border=1 align="center" width="400">
	<caption>가게정보 수정</caption>
	<tr class="no-border1"><td>
		<img th:src="|/static/upload/${dto.shopLogo}|" width="300" height="300"/>
		</td>
	</tr>
	<tr class="no-border"><td>[[${dto.shopName}]]</td></tr>
	<tr class="no-border1"><td>[[${dto.shopExplain}]]</td></tr>
	
	<tr class="no-border"><td>최소주문금액 [[${dto.shopMin}]]</td></tr>
	<tr class="no-border1"><td>배달팁 [[${dto.shopDelivery}]]</td></tr>
</table>

<table th:each="list: ${list}"  border=1 width="400" align="center"> 
	<tr><td rowspan="3"><img th:src="|/static/upload/${list.menuContent}|" width="200" height="200"></td>
    	<td class="menu-border">[[${list.menuName}]]</td>
    </tr>
  	<tr>
    	<td class="menu-border">[[${list.menuExplain}]]</td>
  	</tr>
  	<tr>
    	<td class="menu-border">가격: [[${list.menuPrice}]]</td>
  	</tr>
</table>
<div style="text-align:center;"><br />
	<a href="/owner/shopUpdate">가게정보 수정</a>
</div>
</body>
</html>