<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//En" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deliverySpringProject.mapper.CustomerMapper">
<sql id="customerBaseColumns">
	CUSTOMER_NAME customerName, CUSTOMER_ID customerId, CUSTOMER_PW customerPw, CUSTOMER_ADDR customerAddr
  , CUSTOMER_ADDRDETAIL customerAddrDetail, CUSTOMER_BIRTH customerBirth, CUSTOMER_EMAIL customerEmail 
  , CUSTOMER_PHONE customerPhone
</sql>

<insert id="customerRegist" parameterType="customer">
insert into customer(CUSTOMER_NAME, CUSTOMER_ID, CUSTOMER_PW, CUSTOMER_ADDR, CUSTOMER_ADDRDETAIL
			   	   , CUSTOMER_BIRTH, CUSTOMER_EMAIL, CUSTOMER_PHONE)
values(#{customerName}, #{customerId}, #{customerPw}, #{customerAddr}, #{customerAddrDetail}
	 , #{customerBirth}, #{customerEmail}, #{customerPhone})
</insert>
</mapper>