<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">	
<mapper namespace="deliverySpringProject.mapper.MenuMapper">
<sql id="menuBaseColumns">
	SHOP_NAME shopName, MENU_NAME menuName, MENU_PRICE menuPrice, MENU_CONTENT menuContent
  , MENU_CONTENT_IMG menuContentImg, MENU_EXPLAIN menuExplain
</sql>
<insert id="menuInsert" parameterType="menu">
insert into menu(SHOP_NAME, MENU_NAME, MENU_PRICE, MENU_CONTENT, MENU_CONTENT_IMG, MENU_EXPLAIN)
values (#{shopName}, #{menuName}, #{menuPrice}, #{menuContent}, #{menuContentImg}, #{menuExplain})
</insert>

<select id="menuSelectOne" parameterType="string" resultType="menu">

select * from menu where menu_name=#{menuName} and shop_name=#{shopName}

</select>

</mapper>