<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="deliverySpringProject.mapper.ShopMapper">
	
		<insert id="shopInsert" parameterType="shop">
			insert into shop(shop_owner,shop_ownerid,shop_name,shop_type
			,shop_addr,shop_addrdetail,shop_phone,shop_explain
			,shop_logo,shop_logo_img,shop_min,shop_delivery,shop_registDate)
			values(#{shopOwner},#{shopOwnerId},#{shopName},#{shopType},#{shopAddr},#{shopAddrDetail},
			#{shopPhone},#{shopExplain},#{shopLogo},#{shopLogoImg},#{shopMin},#{shopDelivery}
			,#{shopRegistDate})
		</insert>
		
		<select id="shopNameSelect" parameterType="string" resultType="string">
			select shop_name from shop where shop_owner = #{ownerName}
		</select>
		
		<select id="shopSelectList" parameterType="string" resultType="shop">
			select * from shop where #{customerAddr} in (
				select SUBSTR(shop_addr, INSTR(shop_addr,'(')+1, INSTR(shop_addr,')')-INSTR(shop_addr,'(')-1)
				from shop
			)
		</select>
		
		<select id="shopSelectOne" parameterType="string" resultType="shop">
			select * from shop where shop_owner = #{shopOwnerNameorId} or shop_ownerid = #{shopOwnerNameorId}
		</select>
		
		<select id="menuSelectList" parameterType="string" resultType="menu">
			select * from menu where shop_name = #{shopName}
		
		</select>
		
	</mapper>	